body {
	background-image: url(tilingrc2.png);
	font-family: Arial, sans-serif;
	font-size: 18px;
	display: flex;
	justify-content: center;
}
main {
	background-color: #f7f7ff;
	border-radius: 10px;
	padding: 10pt;
	margin: 1%;
	box-shadow: 8px 8px 8px rgba(0, 0, 31, 0.7);
}
table {
	border-collapse: collapse;
}
thead {
	font-weight: bold;
	background-color: #cce;
}
tbody {
	background-color: #eef;
}
td, th {
	border: 1px solid #337;
	padding: 4px;
}
#stats {
	display: none;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10%;
}
.total {
	display: block;
	padding: 4px;
	text-align: center;
}
h1, h2 {
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
#none {
	display: none;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
}
input {
	margin: 2px;
}
form {
	display: flex;
	flex-direction: column;
}
form > label {
	display: block;
	text-align: center;
}
fieldset {
	border: none;
	margin: auto;
}
.title::after {
	content: ":";
}
.thread-percent {
	display: none;
}